* {
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant', Arial, sans-serif;
  margin: 0;
  line-height: 1.4;
  color: #000;
}

ul {
  text-align: center;
  padding: 0;
  list-style-type: none
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.46s ease;
}

nav a:hover {
  color: lightgrey;
}

article {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

div a,button{

}

#header{
  height:60px;
  position: fixed;
  background: white;
  width: 100%;
  z-index: 100;
}
#header .container{
    height: 100%;
}

#logo{
  height:40px;
  width: auto;
  margin-top: 10px;
}

#navigation {
  display: none;
  background: white;
  z-index: 100;
}

#navigation.show {
  display: block;
  position: fixed;
  left: 0;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  text-align: center;
  line-height: 2.5;
  padding-top: 20px;
}

#burger {
  border: none;
  background: transparent;
  outline: none;
}

#hero {
  background-image: url(../img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#rezepte h2 {
  text-align: center;
}

.container {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  border-radius: 4px;
  box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.66);
  overflow: hidden;
  width: 100%;
  display: block;
}

.card img {
  width: 100%;
}

.card a {
  text-decoration: none;
  color: #000;
}

.card h3 a {
  color: black;
}

.card p a {
  color: #828282;
  text-shadow: 6px 4px 10px rgba(0, 0, 0, 0.43);
}

.card .button {
  color: #fff;
  background: #374A67;
  width: 84%;
  margin-bottom: 10px;
}

article .button:hover {
  color: #374A67;
  background: #fff;
}

.button {
  display: inline-block;
  color: #374A67;
  border-radius: 4px;
  background-color: #fff;
  padding: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid #374A67;
  transition: 0.2s all ease;
}

.button:hover {
  color: #fff;
  background: #374A67;
}

.hero-box {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.hero-box p {
  font-size: 17px;
}

.widget {
  background: #04122B;
  color: white;
  text-align: center;
  padding: 2rem;
}

input{
  height: 44px;
  border-radius: 4px;
}

#nav-social ul{
  font-size: 25px;
  display: flex;
  text-align: center;
}

#nav-social ul li a{
  margin: 10px;
}

footer .container{
  flex-direction: column;
  align-items: center;
}

/* .newsletter input {
  display: inline-block;
  color: #374A67;
  border-radius: 4px;
  background-color: #fff;
  padding: 14px;
  border: 1px solid #374A67;
  margin-top: 10px;
} */

/* für tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  #burger {
    display: none;
  }

  #navigation {
    display: block;
  }

  nav li {
    float: left;
    margin-left: 30px;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .container{
    flex-direction: row;
  }

  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

/* für desktop */
@media (min-width: 1024px) {
  #burger {
    display: none;
  }

  #navigation {
    display: block;
  }

  nav li {
    float: left;
    margin-left: 30px;
  }

  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  footer .container{
    flex-direction: row;
  }

  .card {
    flex: 1 1 calc(33.3333% - 20px);
}
