* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  line-height: 1.4;
  color: #000;
}

ul {
  padding: 0;
  list-style-type: none
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.46s ease;
}

nav a:hover {
  color: lightgrey;
}

article {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#navigation {
  display: none;
}

#navigation.show {
  display: block;
}

#burger {
  border: none;
  background: transparent;
  outline: none;
}

#hero {
  background-image: url(../img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

h2{
  text-align: center;
}

.card img {
  width: 100%;
}

.card a {
  text-decoration: none;
  color: #000;
}

.card{
  text-align: center;
  border-radius: 4px;
  box-shadow: -2px 3px 8px rgba(0,0,0,0.66);
  overflow: hidden;
}

.card h3 a{
  color: black;
}

.card p a{
  color: #828282;
text-shadow: 6px 4px 10px rgba(0,0,0,0.43);
}

.card .button{
  color: #fff;
  background: #374A67;
  width: 84%;
}

article .button:hover {
  color: #374A67;
  background: #fff;
}


.button {
  display: inline-block;
  margin-top: 20px;
  color: #374A67;
  border-radius: 4px;
  background-color: #fff;
  padding: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  /* -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.4); */
  /* ist für alte mozilla/webkit Browser gedacht */
  box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid #374A67;
  transition: 0.2s all ease;
}

.button:hover {
  color: #fff;
  background: #374A67;
}

.hero-box {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.hero-box p {
  font-size: 17px;
}


@media (min-width: 1024px) {
  #burger {
    display: none;
  }

  #navigation {
    display: block;
  }

  nav li {
    float: left;
    margin-left: 30px;
  }

  .container {
    width: 90%;
    margin: auto;
  }
}
