*{
  box-sizing: border-box;
}

/* Das ist ein Kommentar */
html{
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

body{
  background-color: #fff;
  margin: 0;

}

#menu{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#menu a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

#burger{
  background: transparent;
  border: none;
}

#navigation.show{
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background: #fff;
  top: 60px;
  left: 0;
  text-align: center;
  white-space: pre-line;

}

#navigation{
  display: none;
}

#mast-head{
  height: 60px;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: #fff;;
  top: 0;

}

#logo{
  height: 40px;
  width: auto;
}

#hero{
  background-image: url(../img/intro.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.button{
  text-transform: uppercase;
  text-decoration:none;
  background: #fff;
  padding: 1rem;
  border-color: #374A67;
  border-width: 1px;
  border-style: solid;
  color: #374A67;
  font-weight: bold;
  border-radius: 4px;
}

.card img{
  width: 100%;
  display: block;
}

.card{
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.75);
  margin: 1rem;
  text-align: center;
  padding-bottom: 1rem;
  border-radius: 4px;
  overflow: hidden;
}

.card a{
  text-decoration: none;

}

.card h3 a{
  color: #000;
}

.card p a{
  color: #828282;

}
.card p{
    padding: 0 1rem;
}

.button-blue{
  color: #fff;
  background-color: #374a67;
  transition: 0.5s;
  display: inline-block;

}

.button-blue:hover{
  color: #374a67;
  background-color: #fff;
}

#rezepte h2{
  text-align:center,
}

.widget{
  background-color: #04122b;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

.widget h2{
  font-weight: normal;
  font-size: 1rem;
}

.widget h2 span{
  display: block;
}

.email{
  height: 3rem;
  border-radius: 4px;
  padding: 1rem;
  border: 1px solid #04122b;
}

#footer a{
  text-decoration: none;
  color: #000;
}

#footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer-social li{
  display: inline-block;
}

@media (min-width:768px) {
  .row{
    display: flex;
  }


}
